@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

:root {
	--main-bg-color: linear-gradient(
		90deg,
		rgba(32, 27, 115, 1) 0%,
		rgba(127, 127, 218, 1) 23%,
		rgba(0, 212, 255, 1) 100%
	);
	--content-bg-color: #f8f1f1;
	--app-padding: 25px 15px;
	--app-border-radius: 15px;
	--app-box-shadow: 0 0 10px black;
	--app-items-border-radius: 30px;

	--app-color-blue: #325ab6;
	--app-color-grey: #e0e3eb;
}

body {
	background: var(--main-bg-color);
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: var(--app-color-black);
}

a:hover {
	color: #3c455a;
	-webkit-text-decoration-line: none;
	text-decoration-line: none;
}

code {
	color: var(--app-color-blue);
}

.app__container {
	padding-top: 30px;
}

.app__row {
	height: 90vh;
}

/* Sidebar */
.sidebar {
	background-color: var(--content-bg-color);
	height: 100%;
	border-radius: var(--app-border-radius);
	padding: var(--app-padding);
	-webkit-box-shadow: var(--app-box-shadow);
	box-shadow: var(--app-box-shadow);
	text-align: center;
}

.sidebar__avatar {
	height: 110px;
	width: 110px;
	-o-object-fit: contain;
	object-fit: contain;
	border-radius: 100%;
}

.sidebar__name {
	font-family: Kaushan Script;
	cursor: default;
	font-size: 1.5rem;
	margin: 20px 0;
	color: var(--app-color-black);
}

.sidebar__name > span {
	color: var(--app-color-blue);
}

.sidebar__item {
	margin-bottom: 6px;
	padding-top: 6px;
	height: 40px;
	font-size: 1rem;
	border-radius: var(--app-items-border-radius);
}

.sidebar__icon {
	width: 25px;
	height: 25px;
}

.sidebar__title {
	background-color: var(--app-color-grey);
	color: var(--app-color-black);
	border-radius: var(--app-items-border-radius);
	cursor: default;
}

.sidebar__contact {
	background-color: var(--app-color-grey);
	padding: 2px 0;
	border-radius: var(--app-border-radius);
	margin-top: 6px;
	cursor: default;
}

.sidebar_email {
	font-size: 0.9rem;
}

.sidebar__send-email {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		from(rgba(32, 27, 115, 1)),
		color-stop(23%, rgba(127, 127, 218, 1)),
		to(rgba(0, 212, 255, 1))
	);
	background: -o-linear-gradient(
		left,
		rgba(32, 27, 115, 1) 0%,
		rgba(127, 127, 218, 1) 23%,
		rgba(0, 212, 255, 1) 100%
	);
	background: linear-gradient(
		90deg,
		rgba(32, 27, 115, 1) 0%,
		rgba(127, 127, 218, 1) 23%,
		rgba(0, 212, 255, 1) 100%
	);
	border-radius: var(--app-items-border-radius);
	color: #fff;
	margin-top: 6px;
	-webkit-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

.sidebar__send-email:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
}

.sidebar__resume:hover {
	background-color: var(--app-color-grey);
	color: #000511;
}

.sidebar__github {
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.sidebar__github:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

/* Navbar */
.navbar__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.navbar__active {
	font-size: 2rem;
	font-weight: bold;
	color: #354358;
	border-bottom: 4px solid var(--app-color-blue);
	cursor: default;
}

.navbar__item {
	margin-right: 20px;
	text-decoration: none;
	color: var(--app-color-black);
	font-size: 1.3rem;
	cursor: pointer;
	/* padding: 5px 10px; */
}

.navbar__item:hover {
	/* background: var(--app-color-grey);
	border-radius: var(--app-items-border-radius); */
	border-top: 4px solid var(--app-color-blue);
}

/* Main */
.app__main-content {
	background-color: var(--content-bg-color);
	border-radius: var(--app-border-radius);
	padding: var(--app-padding);
	-webkit-box-shadow: var(--app-box-shadow);
	box-shadow: var(--app-box-shadow);
}

/* About */
.about {
	padding: 20px;
	margin: -35px;
}

.about__intro {
	text-indent: 10px;
	font-size: 1.05rem;
	text-align: justify;
	padding: 20px;
	margin: 10px 0;
}

.about__container {
	background-color: var(--app-color-grey);
	padding: 30px 20px;
}

.about__heading {
	font-size: 25px;
	font-weight: 700;
	color: var(--app-color-blue);
	margin-left: 10px;
}

/* Skill-card */
.skill-card {
	background-color: var(--content-bg-color);
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: row;
	border-radius: var(--app-border-radius);
}

.skill-card__icon {
	height: 40px;
	width: 40px;
}

.skill-card__body {
	margin-left: 15px;
}

.skill-card__content {
	margin: 0;
	font-size: 0.9rem;
}

@media (max-width: 991px) {
	.app__main-content {
		margin: 30px 14px;
	}
	.about {
		padding: 5px;
		margin: -15px;
	}

	.navbar__active {
		font-size: 1.3rem;
		font-weight: bold;
	}
}
