@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

:root {
	--main-bg-color: linear-gradient(
		90deg,
		rgba(32, 27, 115, 1) 0%,
		rgba(127, 127, 218, 1) 23%,
		rgba(0, 212, 255, 1) 100%
	);
	--content-bg-color: #f8f1f1;
	--app-padding: 25px 15px;
	--app-border-radius: 15px;
}

body {
	background: var(--main-bg-color);
	background-attachment: fixed;
}

.container {
	padding-top: 30px;
}

.row {
	height: 90vh;
}
.app__sidebar {
	background-color: var(--content-bg-color);
	height: 100%;
	border-radius: var(--app-border-radius);
	padding: var(--app-padding);
}

.app__main-content {
	background-color: var(--content-bg-color);
	border-radius: var(--app-border-radius);
	padding: var(--app-padding);
}
